<div class='row'>
  <div class='col-xs-8'>
    <%= simple_nested_form_for [:manage, @text] do |f|  %>
      <%= f.input :title %>
      <%= f.input :text, input_html: {:class => :ckeditor} %>
      <%= render :partial => 'nested_slide_form', locals: { f: f } %>
      <%= f.button :submit  %>
    <% end %>
  </div>
</div>
