<div class='row'>
  <div class='col-xs-6'>
    <%= simple_nested_form_for [:manage, @video] do |f|  %>
      <%= f.input :title %>
      <%= f.input :video %>
      <%= render :partial => 'manage/entries/entry_context_selection', locals: {f: f, user: current_user} %>
      <%= render :partial => 'nested_slide_form', locals: { f: f } %>
      <%= f.button :submit, class: "btn btn-primary"  %>
      <%= link_to 'Отмена', manage_entries_path %>
    <% end %>
  </div>
</div>
