<div class='row'>
  <div class='col-xs-6'>
    <%= simple_nested_form_for [:manage, @video] do |f|  %>
      <%= f.input :title %>
      <%= f.input :video %>
      <%= render :partial => 'nested_slide_form', locals: { f: f } %>
      <%= f.button :submit  %>
      <%= link_to 'Cancel', manage_entries_path %>
    <% end %>
  </div>
</div>