<li class='list-item <%= cycle( 'odd', 'even' ) %>'>
  <div class='user'>
    <%= permission.user %>,
    <%= permission.role_text %>,
    <%= mail_to permission.user.email %>
    <%= link_to manage_permission_path(permission), :method => :delete, :data => { :confirm => 'Вы уверены?' } do %>
      <%= icon 'trash-o'%>
    <% end %>
  </div>
</li>
