<div class='row'>
  <div class='col-xs-6'>
    <%= simple_form_for  [:manage, @panel, @slide ] do |f|  %>
      <div class="row">
        <%= f.association :entry, :collection => @entries_collection %>
      </div>
      <div class='row'>
        <div class='col-xs-6'>
          <%= f.input :starts_at %>
        </div>
        <div class='col-xs-6'>
          <%= f.input :ends_at %>
        </div>
      </div>
      <div class="row">
        <%= f.input :duration %>
      </div>
      <div class='row'>
        <%= f.button :submit  %>
      </div>
    <% end %>
  </div>
</div>
