<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta charset='UTF-8'>
    <title><%= I18n.t('app.title') %></title>
    <%= stylesheet_link_tag 'public/application', media: 'all' %>
    <%= javascript_include_tag 'public/application' %>
    <%= javascript_include_tag "https://www.youtube.com/iframe_api" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar">
      <div class='navbar-right'>
        <p class='date-week-time'>
          <span class='date'></span>
          <span class='week'></span>
          <span class='time'></span>
        </p>
      </div>
      <div class='image-container'>
        <%= image_tag "tusur-white.png", class: "brand-image" %>
      </div>
    </nav>
    <%= yield %>
    <div id='progressbar'></div>
  </body>
</html>
